/* Form Component Style */

body {
	/* --input-field-color: #cfd8dc; */
	/* --input-field-label-color: #cfd8dc; */
	
	--input-field-color: var(--theme-primary-color);
	--input-field-bg-color: var(--theme-surface-bg);
	--input-field-label-color: var(--theme-placeholder-color);
	--input-field-label-bg-color: var(--theme-surface-bg);
}

/* input Required */
.field.required {
	input ~ label, input:not(:placeholder-shown) ~ label, .form-select + label {
		display: flex;
		align-items: center;
		
		&:before {
			content: '\e1eb';
			font-family: 'Material Symbols Outlined';
			color: rgba(244, 67, 54, .87);
		}
	}
}

/* Customize Form Fields */
.form-control, .form-select, .form-floating {
	border-radius: 4px;
}

.form-control:focus, .form-select:focus, form-check-input:focus {
	box-shadow: none;
}

.input-field {
	position: relative;
	
	/* Default setting */
	label {
		position: absolute;
		pointer-events: none;
		top: 1px;
		left: 15px;
		transform: translateY(0.6rem);
		transition: all 0.3s ease;
		color: var(--input-field-label-color); /* default */
		background-color: var(--input-field-label-bg-color);
	}

	input {
		padding: 10px 15px;
		font-size: 1rem;
		border-radius: 4px;
		letter-spacing: 1px;
		width: 100%;
		color: var(--input-field-color);
		background-color: var(--input-field-bg-color);
	}
		
	input:focus  {
		outline: none;
		color: var(--input-field-color);
		background-color: var(--input-field-bg-color);
	}
	
	input:focus ~ label, input:not(:placeholder-shown) ~ label {
		transform: translateY(-51%) translateX(-10px) scale(0.8);
		padding: 0px 5px;
		/* font-weight: bold; */
		letter-spacing: 1px;
		border: none;
		color: var(--input-field-label-color);
		background-color: var(--input-field-label-bg-color);
	}
	
	/* Input define */
	&.field-light-blue {
		input {
			border-color: #00b0ff; /* accent3 */
		}
		input:focus ~ label, input:not(:placeholder-shown) ~ label {
			color: #00b0ff;
		}
	}
	
	&.field-purple {
		input {
			border-color: #ce93d8; /* accent3 */
		}
		input:focus ~ label, input:not(:placeholder-shown) ~ label {
			color: #ce93d8;
		}
	}
	&.field-cyan {
		input {
			border-color: #00e5ff;
		}
		input:focus ~ label, input:not(:placeholder-shown) ~ label {
			color: #00e5ff;
		}
	}
	/* Input define */
	
	
	
	
	&.field-blue {
		input {
			border-color: #00b0ff; 
		}
		input:focus ~ label, input:not(:placeholder-shown) ~ label {
			color: #00b0ff;
		}
	}
	
	&.field-orange {
		input {
			border-color: rgba(255, 145, 0, .6);
		}
		input:focus ~ label, input:not(:placeholder-shown) ~ label {
			color: rgba(255, 145, 0, .6);
		}
	}
	&.field-lime {
		input {
			border-color: rgba(198, 255, 0, .6); /*#e6ee9c ; */
		}
		input:focus ~ label, input:not(:placeholder-shown) ~ label {
			color: rgba(198, 255, 0, .6);
		}
	}
	
	input.is-invalid {
		border-color: red;
	}
	
	.input-hint {
		font-size: .75rem;
		color: var(--theme-placeholder-color);
	}
	
	/* Singin form */
	.domain-text {
		position: absolute;
		top: 1px;
		right: 2rem;
		display: inline-block;
		transform: translateY(0.6rem);
		color: var(--theme-placeholder-color);
	}
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(100%); 
  cursor: pointer;
}

.input-select {
    position: relative;
    
	/* Default */
    .form-select {
        border-radius: 4px;
        line-height: 2;
		background-color: var(--input-field-bg-color);
		color: var(--input-field-color);
    }
    
    label
    {
        position: absolute;
        pointer-events: none;
        top: 1px;
        left: 15px;
        transform: translateY(-51%) translateX(-12px) scale(0.8);
        padding: 0px 5px;
        color: var(--input-field-label-color);
		background-color: var(--input-field-label-bg-color);
	}
    
	/* Select define */
	&.field-purple {
		.form-select {
			border-color: #ce93d8; /* accent3 */
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ce93d8' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
		}
		label {
			color: #ce93d8;
		}
	}
	&.field-light-blue {
		.form-select {
			border-color: #00b0ff;
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%2300b0ff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
		}
		label {
			color: #00b0ff;
		}
	}
	/* Input define */
	
	
	
	
	&.field-blue {
		.form-select {
			border-color: #00b0ff;
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%232196f3' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
		}
		label {
			color: #00b0ff;
		}
	}
	&.field-cyan {
		.form-select {
			border-color: #00e5ff; 
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%2300e5ff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
		}
		label {
			color: #00e5ff;
		}
	}
	&.field-orange {
		.form-select {
			border-color: rgba(255, 145, 0, .6); 
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ff9100' stroke-opacity='0.6' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
		}
		label {
			color: rgba(255, 145, 0, .6);
		}
	}
	&.field-lime {
		.form-select {
			border-color: rgba(198, 255, 0, .6);
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23c6ff00' stroke-opacity='0.6' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
		}
		label {
			color: rgba(198, 255, 0, .6);
		}
	}
	
	.form-select.is-invalid {
		border-color: red;
	}
	
	.input-hint {
		color: hsla(340,82%,76%, .6);
	}
}
















