/* Page table common */
.page {
	padding: 1rem;
	
	/* Detail table */
	.statistics-list {
		/* purchase table by brand */
		&.bafang {
			--table-bg: #4fc3f7; 			/* light-2 */
			--table-bg-dark: #0288d1; 		/* dark-2 */
			--table-fixed-bg: #b3e5fc; 		/* light-4 */
			--table-fixed-color: #01579b;	/* dark-4 */
			--table-stripes: #e1f5fe;		/* light-5 */
		}
		&.buygood {
			--table-bg: #80deea;
			--table-bg-dark: #0097a7;
			--table-fixed-bg: #b2ebf2;
			--table-fixed-color: #01579b;
			--table-stripes: #e0f7fa; 
		}
		/* sale table use same define */
		&.sale {
			--table-bg: #aed581;
			--table-bg-dark: #689f38;
			--table-fixed-bg: #dcedc8;
			--table-fixed-color: #33691e;
			--table-stripes: #f1f8e9; 
		}
		
		position: relatvie;
		width: auto;
		max-height: calc(100vh - 220px);
		overflow: auto;
		/* scrollbar-width: thin; */
		scrollbar-color: var(--table-bg-dark) var(--table-bg); /*thumb - track*/
		margin: 0;
		border: 1px solid var(--table-bg-dark);
		
		table {
			table-layout: fixed
			min-width: 100%;
			width: 100%;
			overflow: unset;
			padding: 0;
			margin: 0;
			border-radius: 4px;
			
			&.stripes tbody tr:nth-child(odd) {
				background-color: var(--table-stripes);
			}
			
			thead {
				tr {
					th {
						position: sticky;
						top: 0;
						z-index: 5;
						word-break: keep-all;
						background-color: var(--table-bg);
						min-width: 150px;
						color: rgba(0, 0, 0, .87);
						padding-top: 1rem;
					}
				}
			}
			
			tbody {
				tr {
					td {
						font-weight: normal;
						color: #424242;
						
						&:nth-of-type(1) {
							background-color: var(--table-fixed-bg);
							color: var(--table-fixed-color);
						}
						&:nth-of-type(2) {
							background-color: var(--table-fixed-bg);
							color: var(--table-fixed-color);
						}
					}
					&:last-child td {
						color: #f44336;
					}
				}
			}
		}
	}
}
