/* Web Common Style */

/* Toast Message */
#notifyMsg {
	--error: #f44336;
	width: 35%;
	display: flex;
	justify-content: space-between;
	a i {
		color: #fff;
	}
}

/* Dialog */
#alertModal, #confirmModal {
	h5 {
		display: flex;
		align-items: center;
		color: #f44336;
		margin-bottom: 1rem;
	}
}

/* Width control */
.w25 {
	width: calc((100% - 3rem) / 4);
}
.w50 {
	width: calc((100% - 1rem) / 2);
}
.w75 {
	width: calc((100% - 1rem) / 4 * 3);
}
.w100 {
	width: 100%;
}
.w30 {
	width: calc((100% - 2rem) / 3);
}
