/* User Profile */

#profile {
	.dialog-body {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 0 1rem;
		
		.info-head {
			width: 100%;
			min-height: 168px;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			background-color: #0288d1;
			border-radius: 0;
			padding: 1rem;
			
			i.fill {
				--_size: 4rem;
				color: hsl(8, 100%, 56%);
			}
			
			p {
				margin: 0;
				font-size: .875rem;
				color: #f3e5f5;
				
				&.name {
					font-size: 1.2rem;
					color: #fff;
				}
			}
		}
		/* Info list */
		.info-body {
			width: 100%;
			padding-top: 2rem;
			
			p {
				display: flex;
				justify-content: space-between;
			}
			
			.auth-area {
				.chip {
					min-width: 80px;
					border-radius: 1rem;
					background-color: #e1bee7;
				}
			}
		}
	}
	
	a.btn-logout {
		position: absolute;
		bottom: 2rem;
		left: 50%;
		transform: translateX(-50%);
		background-color: hsl(8, 100%, 56%);
		color: #fff;
	}
}
