/* Variables Define */

:root, body.light {
	--primary:#6f43c0;
	--on-primary:#ffffff;
	--primary-container:#ebddff;
	--on-primary-container:#250059;
	--secondary:#635b70;
	--on-secondary:#ffffff;
	--secondary-container:#e9def8;
	--on-secondary-container:#1f182b;
	--tertiary:#7e525d;
	--on-tertiary:#ffffff;
	--tertiary-container:#ffd9e1;
	--on-tertiary-container:#31101b;
	--error:#ba1a1a;
	--on-error:#ffffff;
	--error-container:#ffdad6;
	--on-error-container:#410002;
	--background:#fffbff;
	--on-background:#1d1b1e;
	--surface:#fef8fd;
	--on-surface:#1d1b1e;
	--surface-variant:#e7e0eb;
	--on-surface-variant:#49454e;
	--outline:#7a757f;
	--outline-variant:#cbc4cf;
	--shadow:#000000;
	--scrim:#000000;
	--inverse-surface:#323033;
	--inverse-on-surface:#f5eff4;
	--inverse-primary:#d3bbff;
	--surface-dim:#ded8dd;
	--surface-bright:#fef8fd;
	--surface-container-lowest:#ffffff;
	--surface-container-low:#f8f2f7;
	--surface-container:#f2ecf1;
	--surface-container-high:#ece6eb;
	--surface-container-highest:#e6e1e6;
	
	/* My defined */
	--menu-width: 304px;
	--menu-bg: #01579b;
	/* 官網主色紅 */
	/* --brand-red-bg: #ff3b1e;
	--brand-secondary-red-bg: #cb1a19;
	--brand-orange-bg: #f5ac2d;  */
	
	
	/* Theme Color Define */
}
