/* list */
body {
	background-color: var(--bg-dark-color);
}
.section-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 2rem 1rem 1rem;
	
	.section {
		height: 100%;
		margin-bottom: 1rem;
	}
	
	.user-data {
		flex: 1;
		display: inline-flex;
		
		.field {
			margin-right: 1rem;
			
			&:last-child {
				margin-right: 0;
			}
		}
	}
	
	.toolbar {
		.btn {
			margin-right: .5rem;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

