/* Role list */

.searchbar.section-wrapper {
	height: 64px;
	padding: 1rem 1rem 0;
	display: flex;
	align-items: center;
	// position: sticky;
	// top: 0;
	// z-index: 10;
	
	.field {
		margin-right: 1rem;
	}
	
	.btn-search {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		border-radius: 2rem;
		color: #fff;
	}
}

.user-list.section-wrapper {
	/* box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.3); */
	padding: 1rem;
	/* background-color: var(--bg-page-dark-color); */
	
	.list-data
		.row {
			border-width: 0;
			border-bottom: 1px solid var(--table-row-border-color);
			
			&.head  {
				background-color: var(--table-head-bg-color);
				color: var(--table-head-color);
				font-weight: 500;
			}
			
			&:not(.head) {
				/* color: #90a4ae; */
				color: var(--table-col-color);
				background-color:var(--table-col-even-color);
				
				&:nth-child(odd) {
					background-color: var(--table-col-odd-color);
				}
			}
			
			.col {
				display: flex;
				align-items: center;
				border-width: 0;
				padding: .5rem;
				
				
				&.col-action {
					display: flex;
					justify-content: flex-end;
					
					.btn {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 28px;
						height: 28px;
						padding: 0;
						border-radius: 50% 50%;
						margin-left: .5rem;
						
						.material-symbols-outlined {
							font-size: 1.25rem;
						}
						
						&.btn-edit {
							background-color: var(--btn-update-bg-color);
							color: #fff;
							
							&:hover {
								box-shadow: 0px 0px 6px 2px rgba(103, 58, 183, 0.5);
							}
						}
						
						&.btn-del {
							background-color: var(--btn-delete-bg-color);
							color: #fff;
							
							&:hover {
								box-shadow: 0px 0px 6px 2px rgba(244, 67, 54, 0.5);
							}
						}
					}
				}
			}
		}
	}
}

