/* Role list */

body {
	--theme-surface-bg : var(--theme-surface-l1);
}

.searchbar.section-wrapper {
	margin: 1rem 1rem 0;
	display: flex;
	align-items: center;
	padding: .75rem;
	padding-top: 1rem; /* for input field */
	margin-left: 1rem;
	margin-right: 1rem;
	border-radius: .5rem;
	background: var(--theme-surface-bg);
	
	.field {
		margin-right: 1rem;
	}
}

.user-list.section-wrapper {
	padding: .75rem;
	margin-top: 1rem; /* for input field */
	margin-left: 1rem;
	margin-right: 1rem;
	border-radius: .5rem;
	background: var(--theme-surface-bg);
	
	.list-data
		.row {
			.col {
				display: flex;
				align-items: center;
				border-width: 0;
				padding: .5rem;
				
				&.col-area .badge {
					margin-right: .25rem;
					border-radius: 2px;
					background-color: #ffe082;
					color: rgba(0, 0, 0, .87);
					font-weight: 400;
				}
				
			}
		}
	}
}

