/* New Release Style */
body main.app {
	overflow-y: hidden !important;
}

form {
	margin-block-start: 0;
}

#searchPanel {
	.fieldset {
		.row:first-of-type {
				margin-block-start: 0;
		}
	}
}

/* Data */
.page {
	/* padding: 1rem; */
	
	/* 區域彙總 */
	.statistics-area {
		width: max-content;
		min-width: 100%;
		
		thead>tr>th {
			
		}
		table>tbody>tr:last-child {
			color: red;
			&>td {
				border-block-start: .0625rem solid var(--outline);
			}
		}
	}
	
	/* 門市 */
	.statistics-shop {
		--table-bg: #80deea ;
		position: relatvie;
		width: auto;
		max-height: calc(100vh - 220px);
		overflow: auto;
		/* scrollbar-width: thin; */
		scrollbar-color: #0097a7 var(--table-bg); /*thumb - track*/
		margin: 0;
		
		table {
			table-layout: fixed;
			min-width: 100%;
			width: auto;
			overflow: unset;
			padding: 0;
			margin: 0;
			border-radius: 4px;
			
			thead {
				tr {
					th {
						position: sticky;
						top: 0;
						z-index: 5;
						word-break: keep-all;
						background-color: var(--table-bg);
						min-width: 80px;
						color: rgba(0, 0, 0, .87);
						padding-top: 1rem;
						
						&.col-date span {
							display: inline-flex;
							flex-direction: column;
							justify-content: center;
							
							&:first-child {
								/* font-size: .9rem; */
								background-color: #e91e63;
								border-radius: 4px;
								color: rgba(255, 255, 255, .87);
								font-weight: 400;
								padding: 0 .25rem;
							}
						}
						
						&:nth-child(1) {
							min-width: 100px;
							position: sticky;
							left: 0;
							z-index: 6;
						}
						&:nth-child(2) {
							min-width: 100px;
							position: sticky;
							left: 100px;
							z-index: 6;
						}
						&:nth-child(3) {
							min-width: 180px;
							position: sticky;
							left: 200px;
							z-index: 6;
						}
					}
				}
			}
			
			tbody {
				tr {
					th {
						position: sticky;
						font-weight: normal;
						z-index: 5;
						color: #1b5e20; /*#1b3823;*/
						/* border-bottom-width: 0; */
						
						&:nth-child(1) {
							left: 0;
							background-color: #b2ebf2;
						}
						&:nth-child(2) {
							left: 100px;
							background-color: #b2ebf2;
						}
						&:nth-child(3) {
							left: 200px;
							background-color: #b2ebf2;
						}
					}
					
					td {
						color: #424242;
					}
				}
			}
		}
	}
}