/* New Release Style */
body main.app {
	overflow-y: hidden !important;
}

form {
	margin-block-start: 0;
}

#searchPanel {
	.fieldset {
		.row:first-of-type {
				margin-block-start: 0;
		}
	}
}

/* Data */
.page {
	/* padding: 1rem; */
	
	/* 區域彙總 */
	.statistics-area {
		table {
			tbody {
				tr {
					&:last-child th, &:last-child td {
						color: red;
						border-block-start: .0625rem solid var(--outline);
					}
				}
			}
		}
	}
	
	
	/* 門市 */
	.statistics-shop {
		table {
			thead tr th {
				&.col-date span {
					display: inline-flex;
					flex-direction: column;
					justify-content: center;
					
					&:first-child {
						/* font-size: .9rem; */
						background-color: #e91e63;
						border-radius: 4px;
						color: rgba(255, 255, 255, .87);
						font-weight: 400;
						padding: 0 .25rem;
					}
				}
			}
		}
	}
}