/* list */

body {
	--theme-surface-bg : var(--theme-surface-l0);
}

.section-wrapper {
	display: flex;
	
	margin-left: 1rem;
	margin-right: 1rem;
	
	.purchase {
		width: 320px;
		height: 100%;
		border-radius: 1rem;
		padding: .75rem;
		background: var(--theme-surface-bg);
		
		&:first-child {
			margin-right: 1rem;
		}
		
		ul, li {
			display: flex;
			justify-content: space-between;
			color: #ce93d8;
			background-color: transparent;
			border-color: transparent;
		}
		
		h6 {
			display: inline-block;
			padding: .5rem 1rem;
			margin-left: 1rem;
			margin-right: 1rem;
			border-radius: 1rem;
			background-color: #7b1fa2;
			color: var(--theme-on-primary);
		}
	}
	
	
}

