/* Navbar */
.page.navbar {
	position: sticky;
	top: 0;
	z-index: 9;
	width: 100%;
	height: 64px;
	
	/* Default */
	background-color: var(--primary-orange-color);
	color: #000;
	padding-left: 1rem;
	padding-right: 1rem;
		
	.navbar-head {
		display: flex;
		align-items: center;
		font-weight: 500;
		
		/* New release info */
		.new-release-info {
			display: flex;
			flex-direction: column;
			margin-left: 1rem;
			font-size: .85rem;
			color: #efebe9;
		}
	}
	
	/* 共用的style */
	.navbar-action, .navbar-head {
		display: flex;
		font-weight: 500;
		
		a.btn {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 2.5rem;
			height: 2.5rem;
			border-radius: 1.25rem;
			transition: width 0.3s ease-in-out 0.3s;
			overflow: hidden;
			margin-left: .5rem;
			
			.title {
				font-size: 0px;
				transition-property: font-size;
				transition-duration: .2s;
				transition-delay: .1s;
			}
			
			&:hover {
				.title {
					font-size: 1rem;
					/*縮小時也要*/
					transition-property: font-size;
					transition-duration: .1s;
					transition-delay: .5s;
				}
			}
		}
		
		/* Page Toolbar */
		a.btn-home {
			background-color: var(--btn-home-bg-color);
			color: #fff;
		}
		a.btn-profile {
			background-color: var(--btn-profile-bg-color);
			color: #fff;
		}
		a.btn-create {
			background-color: var(--btn-create-bg-color);
			color: #fff;
			
			&:hover {
				width: calc(3ch * 3.5);
			}
		}
		
		a.btn-return {
			color: #000;
			margin-right: .5rem;
			border: 1px solid #000;
			
			&:hover {
				width: calc(4ch * 3.5);
				background-color: var(--btn-return-bg-color);
				color: #fff;
			}
		}
	}
}

