/* Navbar */
.page.navbar {
	--nav-bg-color: var(--primay-default-bg-color);
	
	position: sticky;
	top: 0;
	z-index: 9;
	width: 100%;
	height: 64px;
	
	/* Default */
	background-color: var(--nav-bg-color);
	color: rgba(255, 255, 255, .6);
	padding-left: 1rem;
	padding-right: 1rem;
		
	.navbar-head {
		display: flex;
		align-items: center;
		font-weight: 500;
		color: rgba(255, 152, 0, .87);
		
		/* New release info */
		.new-release-info {
			display: flex;
			flex-direction: column;
			margin-left: 1rem;
			font-size: .85rem;
			color: #bcaaa4;
		}
	}
	
	/* 共用的style */
	.navbar-action, .navbar-head {
		--btn-color: rgba(255, 255, 255, .6);
		--btn-hover-color: rgba(255, 255, 255, .87);
		
		display: flex;
		font-weight: 500;
		
		a.btn {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 2rem;
			height: 2rem;
			border-radius: 1.25rem;
			transition: width 0.3s ease-in-out 0.3s;
			overflow: hidden;
			margin-left: .5rem;
			color: var(--btn-color);
			
			.material-symbols-outlined {
				font-size: 20px;
			}
			
			.title {
				font-size: 0px;
				transition-property: font-size;
				transition-duration: .2s;
				transition-delay: .1s;
			}
			
			&:hover {
				color: var(--btn-hover-color);
				
				.title {
					font-size: 1rem;
					/*縮小時也要*/
					transition-property: font-size;
					transition-duration: .1s;
					transition-delay: .5s;
				}
			}
		}
		
		/* Page Toolbar */
		a.btn-home {
			background-color: rgba(233, 30, 99, .6);
			&:hover {
				background-color: rgba(233, 30, 99, .87);
			}
		}
		a.btn-profile {
			background-color: rgba(0, 188, 212, .6);
			&:hover {
				background-color: rgba(0, 188, 212, .87);
			}
		}
		a.btn-create {
			background-color: rgba(139, 195, 74, .6);
			&:hover {
				background-color: rgba(139, 195, 74, .87);
				width: calc(3ch * 3.5);
			}
		}
		a.btn-return {
			margin-right: .5rem;
			/* border: 1px solid #000; */
			
			&:hover {
				width: calc(4ch * 3.5);
				background-color: #bcaaa4;
			}
		}
	}
}

