/* Common Style */
/* Body Message Dialog ... */

body {
	--scrollbar-width: calc(100vw - 100%);
	
	font-family: 'Roboto', 'Orbitron', sans-serif;
	font-size: 16px;
	margin: 0;
	display: flex; 
	
	&.dark {
		background-color: var(--primary-dark-bg-color);
		background: linear-gradient(150deg, var(--primary-dark-bg-color), var(--primary-dark-bg-color), var(--primary-dark-bg-color), #37474f);
	}
	
	.content-wrapper{
		position: relative;
		flex-grow: 1;
		width: calc(100vw - 256px - var(--scrollbar-width)); /* 避免scrollbar寬度影響 */
		height: 100%; /* 100vh sticky會失效 */
		/* overflow-x: hidden; */
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		background-color: transparent;
	}
	
	/* .content-wrapper { */
		/* position: relative; */
		/* top: 0; */
		/* left: 280px; */
		/* width: calc(100vw - 280px); */
		/* height: 100vh; */
	/* } */
	
	.list-group {
		border-radius: 2px;
	}
	
	.section-wrapper .empty-list {
		.row {
			border-bottom-width: 0;
			background-color: rgba(229, 115, 115, .4); /*#e57373; */
			
			.col {
				padding: .5rem;
				color: #fff;
			}
		}
	}
}

.filled-icon {
  font-variation-settings: 'FILL' 1;
}

.divider {
	display: flex;
	
	&:before, &:after {
		content: '';
		flex: 1;
		height: 1px;
		background-color: black;
		margin-top: .5rem;
		margin-bottom: .5rem;
	}
}

/* Message */
.error-msg {
	display: flex;
	align-items: center;
	border-radius: 2px;
	
	.material-symbols-outlined {
		margin-right: .5rem; 
	}
}

.toast.msg {
	position: absolute;
	right: 2rem;
	bottom: 2rem;
	background-color: #e53935;
	color: #fff;
}

/* Dialog */
#alert_modal {
	.modal-header {
		color: #f44336;
	}
}

#confirm_modal {
	.modal-header {
		color: #03a9f4;
	}
}

/* Color Common */
.purple-accent-1 {
	color: #ea80fc;
}
.red {
	color: #f44336;
}
.cyan-accent-4 {
	color: #00b8d4;
}
