/* Non Form Component Style */

/* Button */
.btn {
	/* Button */
	--btn-home-bg-color: #e91e63;
	--btn-profile-bg-color: #00bcd4; /* 500 */
	--btn-create-bg-color: #4caf50; /* 500 */
	--btn-update-bg-color: #9c27b0; /* 500 */
	--btn-delete-bg-color: #f44336; /* 500 */
	--btn-return-bg-color: #263238; /* darken4 */
	
	border-radius: 2px;
	
	/* For dialog */
	&.btn-major {
		min-width: 8rem;
	}
	
	/* Theme */
	&.disabled {
		background-color: #9e9e9e !important; 
	}
	
	&.btn-outline-red {
		border-color: #f44336;
		color: #f44336;
		
		&:hover {
			background-color: #f44336;
			color: #fff;
		}
	}
	&.btn-red {
		border-color: #f44336;
		background-color: #f44336;
		color: #fff;
		
		&:hover {
			border-color: #d32f2f;
			background-color: #d32f2f;
		}
	}
	
}



