/* Non Form Component Style */

/* Button */
.btn {
	border-radius: 2px;
	color: rgba(255, 255, 255, .7);
	border-width: 0;
	
	&:hover {
		color: rgba(255, 255, 255, 1);
	}
	
	/* Outline */
	&.btn-signin {
		/* background-color: rgba(156, 39, 176, 0.6); */
		border: 1px solid #f44336;
		color: #f44336;
		
		&:hover {
			background-color: #f44336;
			color: rgb(255, 255, 255);
		}
	}
	/* Outline end */
	
	&.btn-search {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		border-radius: 2rem;
		/* border: 1px solid rgba(3, 169, 244, .6); */
		background-color: rgba(3, 169, 244, .6);
		
		&:hover {
			/* border-color: rgba(3, 169, 244, .87); */
			background-color: rgba(3, 169, 244, .87);
		}
	}
	/* List button */
	&.btn-edit {
		background-color: hsl(262, 52%, 47%);
		&:hover {
			background-color: hsl(262, 52%, 51%);
		}
	}
	&.btn-delete {
		background-color: hsl(4, 90%, 58%);
		&:hover {
			background-color: hsl(4, 90%, 62%);
		}
	}
	/* List button */
	
	&.btn-save {
		background-color: hsl(199, 98%, 48%);
		&:hover {
			background-color: hsl(199, 98%, 52%);
		}
	}
	&.btn-reset {
		background-color: hsl(4, 90%, 58%);
		&:hover {
			background-color: hsl(4, 90%, 62%);
		}
	}
	/* Modal */
	&.btn-ok {
		background-color: hsl(206, 99%, 31%);
		&:hover {
			background-color: hsl(206, 99%, 35%);
		}
	}
	&.btn-cancel {
		background-color: transparent;
		border: 1px solid transparent;
		color: rgba(0, 0, 0, .6);
		&:hover {
			border: 1px solid rgba(0, 0, 0, .6);
			color: rgba(0, 0, 0, .6);
		}
	}
	
	&.btn-major {
		min-width: 8rem;
		border-radius: 2px;
	}
	
	&.disabled {
		background-color: rgba(0, 0, 0, .38); 
	}
	
}

/* Table, Grid */
.grid-purple {
	--table-head-bg: #9c27b0; /* 500 */
	--table-head-color: rgba(255 255 255 / 1); 
	--table-row-border-color: var(--theme-divider-color);
	--table-row-even-bg: #e1bee7; /* 100 */
	--table-row-odd-bg: #f3e5f5; /* 50 */
	--table-row-color: rgba(0 0 0 / .7);
}

/* Common Define */
.grid {
	.row {
		border-width: 0;
		border-bottom: 1px solid var(--table-row-border-color);
		
		&.head  {
			background-color: var(--table-head-bg);
			color: var(--table-head-color);
			font-weight: 500;
		}
		
		&:not(.head) {
			color: var(--table-row-color);
			background-color: var(--table-row-even-bg);
			
			&:nth-child(odd) {
				background-color: var(--table-row-odd-bg);
			}
		}
		
		.col {
			display: flex;
			align-items: center;
			border-width: 0;
			padding: .5rem;
			
			/* toolbar */
			&.col-action {
				display: flex;
				justify-content: flex-end;
				
				.btn {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 28px;
					height: 28px;
					padding: 0;
					border-radius: 50% 50%;
					margin-left: .5rem;
					
					.material-symbols-outlined {
						font-size: 1.25rem;
					}
				}
			}
		}
	}
}



