/* Common Style */
/* Body Message Dialog ... */

body {
	--scrollbar-width: calc(100vw - 100%);
	--theme-bg-color: var(--primary-default-bg-color);
	--theme-secondary-bg-color: var(--secondary-default-bg-color);
	
	/* Light Table */
	/* --table-head-bg-color: #01579b; */
	/* --table-head-color: #e1f5fe; */
	/* --table-row-border-color: #607d8b; */
	/* --table-col-color: #90a4ae; */
	/* --table-col-odd-color: #37474f; */
	
	/* Dark Table */
	--table-head-bg-color: #01579b; /*#252525;*/
	--table-head-color: #e1f5fe;
	--table-row-border-color: #607d8b;
	--table-col-color: #90a4ae;
	--table-col-odd-color: #37474f;
	--table-col-even-color: #263238;
		
	font-family: 'Roboto', 'Orbitron', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	background-color: var(--theme-bg-color);
	background: linear-gradient(150deg, #212121 10%, var(--theme-bg-color));
	
	main {
		width: 100vw;
		display: flex; 
		justify-content: cetner;
	}
	
	.content-wrapper{
		position: relative;
		/* flex-grow: 1; */
		width: calc(100vw - 256px - var(--scrollbar-width)); /* 避免scrollbar寬度影響 */
		height: 100%; /* 100vh sticky會失效 */
		box-sizing: border-box;
		background-color: transparent;
	}
	
	/* list no data */
	.section-wrapper .empty-list {
		.row {
			border-bottom-width: 0;
			background-color: rgba(229, 115, 115, .4); /*#e57373; */
			
			.col {
				padding: .5rem;
				color: #fff;
			}
		}
	}
}

/* Google Icon */
.filled-icon {
  font-variation-settings: 'FILL' 1;
}

/* Common row divider */
.divider {
	display: flex;
	
	&:before, &:after {
		content: '';
		flex: 1;
		height: 1px;
		background-color: rgba(255, 255, 255, .12);
		margin-top: .5rem;
		margin-bottom: .5rem;
	}
}

/* Toast Message */
.error-msg {
	display: flex;
	align-items: center;
	border-radius: 2px;
	
	.material-symbols-outlined {
		margin-right: .5rem; 
	}
}

.toast.msg {
	position: absolute;
	right: 2rem;
	bottom: 2rem;
	background-color: #e53935;
	color: #fff;
}

/* Dialog */
#alert_modal {
	.modal-header {
		color: #f44336;
	}
}

#confirm_modal {
	.modal-header {
		color: #03a9f4;
	}
}

/* Color Common */
.purple {
	color: #ce93d8;
}
.red {
	color: #ef9a9a;
}
.cyan-accent-4 {
	color: #00b8d4;
}

/* Loading bar */
.loading-wrapper {
	width: 100%;
	height: 5px; /* Height of the loading bar */
	border-radius: 1rem;
	background-color: #000; /* Background color of the container */
	overflow: hidden; /* Ensures the bar stays within its container */
	position: fixed;
	top: 64px;
	display: none;
	
	&.active {
		display: block;
	}
}

.loading-bar {
	width: 30%; /* Initial width of the moving bar segment */
	height: 100%;
	border-radius: 1rem;
	background-color: #84ffff; /* Color of the loading bar */
	position: absolute;
	top: 0;
	left: -30%; /* Start off-screen to the left */
	animation: infinite-loading 2s linear infinite; /* Animation properties */
}

@keyframes infinite-loading {
	0% {
		left: -30%; /* Starts off-screen left */
	}
	100% {
		left: 100%; /* Moves across to off-screen right */
	}
}