/* Non Form Component Style */

/* Button */
.btn {
	border-radius: 2px;
	color: rgba(255, 255, 255, .6);
	border-width: 0;
	
	&:hover {
		color: rgba(255, 255, 255, .87);
	}
	
	/* Outline */
	&.btn-signin {
		/* background-color: rgba(156, 39, 176, 0.6); */
		border: 1px solid #f44336;
		color: #f44336;
		
		&:hover {
			background-color: #f44336;
			color: rgb(255, 255, 255);
		}
	}
	/* Outline end */
	
	&.btn-search {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		border-radius: 2rem;
		/* border: 1px solid rgba(3, 169, 244, .6); */
		background-color: rgba(3, 169, 244, .6);
		
		&:hover {
			/* border-color: rgba(3, 169, 244, .87); */
			background-color: rgba(3, 169, 244, .87);
		}
	}
	&.btn-edit {
		background-color: rgba(156, 39, 176, 0.6);
		&:hover {
			background-color: rgba(156, 39, 176, 0.87);
		}
	}
	&.btn-delete {
		background-color: rgba(244, 67, 54, 0.6);
		&:hover {
			background-color: rgba(244, 67, 54, 0.87);
		}
	}
	&.btn-save {
		background-color: rgba(3, 169, 244, 0.6);
		&:hover {
			background-color: rgba(3, 169, 244, 0.87);
		}
	}
	&.btn-cancel {
		background-color: rgba(244, 67, 54, 0.6);
		&:hover {
			background-color: rgba(244, 67, 54, 0.87);
		}
	}
	
	&.btn-major {
		min-width: 8rem;
		border-radius: 2px;
	}
	
	&.disabled {
		background-color: rgba(0, 0, 0, .38); 
	}
	
}



