/* Non Form Component Style */

/* Button */
.btn {
	border-radius: 2px;
	
	&.btn-major {
		min-width: 8rem;
	}
	&.disabled {
		background-color: #9e9e9e !important; 
	}
	
	&.btn-outline-red {
		border-color: #f44336;
		color: #f44336;
		
		&:hover {
			background-color: #f44336;
			color: #fff;
		}
	}
	&.btn-red {
		border-color: #f44336;
		background-color: #f44336;
		color: #fff;
		
		&:hover {
			border-color: #d32f2f;
			background-color: #d32f2f;
		}
	}
	
}



