/* Form Component Style */

body {
	// --input-field-color: #cfd8dc;
	// --input-field-label-color: #cfd8dc;
	
	--input-field-color: #212529;
	--input-field-bg-color: var(--primary-default-bg-color);
	--input-field-label-color: #9e9e9e;
	--input-field-label-bg-color: var(--primary-default-bg-color);
	
	&.dark {
		--input-field-color: #cfd8dc;
		--input-field-bg-color: var(--primary-dark-bg-color);
		--input-field-label-color: #9e9e9e;
		--input-field-label-bg-color: var(--primary-dark-bg-color);
	
		// --input-field-color: ;
		// --input-field-label-color: #8d8d8d;
	}
}

/* input Required */
.field.required {
	input ~ label, input:not(:placeholder-shown) ~ label, .form-select + label {
		display: flex;
		align-items: center;
		
		&:before {
			content: '\e1eb';
			font-family: 'Material Symbols Outlined';
			color: #f44336;
		}
	}
}

/* Customize Form Fields */
.form-control, .form-select, .form-floating {
	border-radius: 4px;
}

.form-control:focus, .form-select:focus {
	box-shadow: none;
}

.input-field {
	position: relative;
	
	/* Default setting */
	label {
		position: absolute;
		pointer-events: none;
		top: 1px;
		left: 15px;
		transform: translateY(0.6rem);
		transition: all 0.3s ease;
		color: var(--input-field-label-color); /* default */
		background-color: var(--input-field-label-bg-color);
	}

	input {
		padding: 10px 15px;
		font-size: 1rem;
		border-radius: 4px;
		letter-spacing: 1px;
		width: 100%;
		color: var(--input-field-color);
		background-color: var(--input-field-bg-color);
	}
		
	input:focus  {
		outline: none;
		color: var(--input-field-color);
		background-color: var(--input-field-bg-color);
	}
	
	input:focus ~ label, input:not(:placeholder-shown) ~ label {
		transform: translateY(-51%) translateX(-10px) scale(0.8);
		padding: 0px 5px;
		font-weight: bold;
		letter-spacing: 1px;
		border: none;
		// border-radius: 100px;
		color: var(--input-field-label-color);
		background-color: var(--input-field-label-bg-color);
	}
	
	/* Customize */
	&.field-red {
		input {
			border-color: #ff1744; /* accent3 */
		}
		input:focus ~ label, input:not(:placeholder-shown) ~ label {
			color: #ff1744;
		}
	}
	
	&.field-blue {
		input {
			border-color: #00b0ff; 
		}
		input:focus ~ label, input:not(:placeholder-shown) ~ label {
			color: #00b0ff;
		}
	}
	&.field-cyan {
		input {
			border-color: #00e5ff; 
		}
		input:focus ~ label, input:not(:placeholder-shown) ~ label {
			color: #00e5ff;
		}
	}
	&.field-orange {
		input {
			border-color: #ff9100; 
		}
		input:focus ~ label, input:not(:placeholder-shown) ~ label {
			color: #ff9100;
		}
	}
	&.field-lime {
		input {
			border-color: #aeea00 ; 
		}
		input:focus ~ label, input:not(:placeholder-shown) ~ label {
			color: #aeea00 ;
		}
	}
	
	input.is-invalid {
		border-color: red;
	}
	
	.input-hint {
		color: #f48fb1;
	}
	
	/* Singin form */
	.domain-text {
		position: absolute;
		top: 1px;
		right: 2rem;
		display: inline-block;
		transform: translateY(0.6rem);
		color: #8d8d8d;
	}
}

.input-select {
    position: relative;
    
	/* Default */
    .form-select {
        border-radius: 4px;
        line-height: 2;
		background-color: var(--input-field-bg-color);
		color: var(--input-field-color);
    }
    
    label
    {
        position: absolute;
        pointer-events: none;
        top: 1px;
        left: 15px;
        transform: translateY(-51%) translateX(-12px) scale(0.8);
        padding: 0px 5px;
        font-weight: bold;
        // border-radius: 100px;
		color: var(--input-field-label-color);
		background-color: var(--input-field-label-bg-color);
   }
    
	&.field-red {
		.form-select {
			border-color: #ff1744; /* accent3 */
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23cb1a19' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
		}
		label {
			color: #ff1744;
		}
	}
	&.field-blue {
		.form-select {
			border-color: #00b0ff;
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%232196f3' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
		}
		label {
			color: #00b0ff;
		}
	}
	&.field-cyan {
		.form-select {
			border-color: #00e5ff; 
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%2300e5ff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
		}
		label {
			color: #00e5ff;
		}
	}
	&.field-orange {
		.form-select {
			border-color: #ff9100; 
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ff9100' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
		}
		label {
			color: #ff9100;
		}
	}
	&.field-lime {
		.form-select {
			border-color: #aeea00; 
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23aeea00' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
		}
		label {
			color: #aeea00;
		}
	}
	
	.form-select.is-invalid {
		border-color: red;
	}
	
	.input-hint {
		color: #f48fb1;
	}
}
















