/* Aside Menu */
.aside.menu {
	--menu-bg-color: var(--secondary-default-bg-color); 
	
	position: sticky;
	top: 0;
	left: 0;
	width: 256px;
	height: 100vh;
	background-color: var(--menu-bg-color);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	.logo {
		height: 64px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		background: linear-gradient(125deg, var(--primary-red-color) 25%,  var(--primary-orange-color) 65%);
		opacity: .6;
		
		img {
			width: auto;
			height: 48px;
		}
	}
	
	.container-fluid {
		/*#00bcd4*/
		--menu-color: rgba(0, 188, 212, .6); 
		--menu-group-color: rgba(0, 188, 212, .87);  
		--menu-hover-color: #80deea; /*200*/
		
		width: 100%;
		height: calc(100vh - 64px);
		padding-left: 0;
		padding-right: 0;
		overflow-y: auto;
		scrollbar-width: thin;
		scrollbar-color: var(--menu-group-color) var(--secondary-default-bg-color); 
		/* Two valid colors. The first applies to the thumb of the scrollbar, the second to the track. */
		
	
		.menu-group {
			&:first-child {
				margin-top: 1rem;
			}
			
			a.list-title {
				position: relative;
				display: flex;
				align-items: center;
				padding: .5rem 1rem;
				text-decoration: none;
				color: var(--menu-group-color);
				
				.material-symbols-outlined {
					margin-right: .5rem;
				}
				
				&:hover /*, &.active, &[aria-expanded='true']*/ {
					color: var(--menu-hover-color);
					cursor: pointer;
					/* text-shadow: 0 0 1rem var(--menu-hover-color); */
				}
				
				&[aria-expanded='false']:after {
					position: absolute;
					right: 1rem;
					content: "\e315";
					font-family: 'Material Symbols Outlined';
				}
				&[aria-expanded='true']:after {
					position: absolute;
					right: 1rem;
					content: "\e313";
					font-family: 'Material Symbols Outlined';
				}
			}
			
			ul.list-group {
				color: #607d8b;
				
				li.list-group-item {
					display: flex;
					border-width: 0px;
					padding: 0 1rem 0 2rem;
					background-color: var(--menu-bg-color);
					margin-bottom: .25rem;
					
					a {
						flex: 1;
						padding: 0 1rem;
						text-decoration: none;
						color: var(--menu-color);
						font-size: .875rem;
						line-height: 40px;
						
						&:hover, &.active {
							border-radius: 20px;
							background-color: #37474f;
							color: var(--menu-hover-color);
						}
					}
				}
			}
		}
	}
}