/* Aside Menu */
.aside.menu {
	--menu-bg-color: #1a1a1a; 
	
	position: sticky;
	top: 0;
	left: 0;
	width: 240px;
	/*min-height: 100vh;
	height: 100%;*/
	height: 100vh;
	background-color: var(--menu-bg-color);
	margin: 0;
	padding: 0;
	/*padding-bottom: 1000%;*/
	box-sizing: border-box;
	
	.logo {
		height: 64px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		/* background-color: var(--bg-brand-primary-color); */
		/* background-color: var(--bg-brand-secondary-light-color); */
		/* background: linear-gradient(135deg, #f5ac2d, #cb1a19, #cb1a19); */
		background: linear-gradient(125deg, var(--primary-red-color), var(--primary-red-color), var(--primary-orange-color), var(--primary-orange-color));
		
		/* copyright */
		/* &:after { */
			/* position: absolute; */
			/* left: 4px; */
			/* bottom: 0; */
			/* content: "\00A9 2025"; */
			/* color: var(--secondary-red-color); */
			/* font-size: .75rem; */
		/* } */
		
		img {
			width: auto;
			height: 48px;
			/* mix-blend-mode: soft-light;/* soft-light  luminosity ; */
		}
	}
	
	.container-fluid {
		--menu-text-color: #00b8d4; 
		--menu-hover-color: #84ffff; /*#18ffff;*/
		
		
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		
		.menu-group {
			
			&:first-child {
				margin-top: 1rem;
			}
			
			a.list-title {
				position: relative;
				display: flex;
				align-items: center;
				padding: .5rem 1rem;
				text-decoration: none;
				color: var(--menu-text-color);
				
				.material-symbols-outlined {
					margin-right: .5rem;
				}
				
				&:hover /*, &[aria-expanded='true']*/ {
					color: var(--menu-hover-color);
					cursor: pointer;
					text-shadow: 0 0 1rem var(--menu-hover-color);
				}
				
				&[aria-expanded='false']:after {
					position: absolute;
					right: 1rem;
					content: "\e315";
					font-family: 'Material Symbols Outlined';
				}
				&[aria-expanded='true']:after {
					position: absolute;
					right: 1rem;
					content: "\e313";
					font-family: 'Material Symbols Outlined';
				}
			}
			
			ul.list-group {
				color: #607d8b;
				
				li.list-group-item {
					display: flex;
					border-width: 0px;
					padding: 0 1rem 0 2rem;
					background-color: var(--menu-bg-color);
					margin-bottom: .25rem;
					
					a {
						flex: 1;
						padding: 0 1rem;
						text-decoration: none;
						color: var(--menu-text-color);
						font-size: .875rem;
						line-height: 40px;
						
						&:hover, &.active {
							border-radius: 20px;
							background-color: rgba(69, 90, 100, .25);
							color: var(--menu-hover-color);
						}
					}
				}
			}
		}
	}
}