/* Component Style */

:root {
	--input-field-color: #cfd8dc;
}

/* Button */
.btn {
	border-radius: 2px;
	
	&.btn-major {
		min-width: 8rem;
	}
	&.btn-outline-red {
		border-color: #f44336;
		color: #f44336;
		
		&:hover {
			background-color: #f44336;
			color: #fff;
		}
	}
	&.btn-red {
		border-color: #f44336;
		background-color: #f44336;
		color: #fff;
		
		&:hover {
			border-color: #d32f2f;
			background-color: #d32f2f;
		}
	}
}


/* Customize Form Fields */
.form-control, .form-select, .form-floating {
	border-radius: 4px;
	/* // border-width: 1px; */
	/* // border-color: #ffab40; */
}

.form-control:focus, .form-select:focus {
	box-shadow: none;
	/* // border-width: 2px; */
	/* // border-color: #ff9100; */
}

.input-field {
	position: relative;
	/*margin: 1rem;*/
	
	/* Default setting */
	label {
		position: absolute;
		color: #8d8d8d; /* default */
		pointer-events: none;
		top: 1px;
		left: 15px;
		transform: translateY(0.6rem);
		transition: all 0.3s ease;
	}

	input {
		padding: 10px 15px;
		font-size: 1rem;
		border-radius: 4px;
		letter-spacing: 1px;
		width: 100%;
	}
		
	input:focus  {
		outline: none;
	}
	
	input:focus ~ label, input:not(:placeholder-shown) ~ label {
		transform: translateY(-51%) translateX(-10px) scale(0.8);
		background-color: #fff;
		padding: 0px 5px;
		color: #212529;
		font-weight: bold;
		letter-spacing: 1px;
		border: none;
		border-radius: 100px;
	}
	
	/* Customize */
	&.field-red {
		input {
			border-color: #ff1744; /* accent3 */
		}
		input:focus ~ label, input:not(:placeholder-shown) ~ label {
			color: #ff1744;
		}
	}
	
	&.field-blue {
		input {
			border-color: #00b0ff; 
		}
		input:focus ~ label, input:not(:placeholder-shown) ~ label {
			color: #00b0ff;
		}
	}
	&.field-cyan {
		input {
			border-color: #00e5ff; 
		}
		input:focus ~ label, input:not(:placeholder-shown) ~ label {
			color: #00e5ff;
		}
	}
	&.field-orange {
		input {
			border-color: #ff9100; 
		}
		input:focus ~ label, input:not(:placeholder-shown) ~ label {
			color: #ff9100;
		}
	}
	
	&.dark {
		label {
			color: var(--input-field-color);
		}
		input {
			background-color: var(--primary-dark-bg-color);
			color: var(--input-field-color);
		}
		input:focus ~ label, input:not(:placeholder-shown) ~ label {
			background-color: var(--primary-dark-bg-color);
		}
	}
	
	input.is-invalid {
		border-color: red;
	}
	
	/* Singin form */
	.domain-text {
		position: absolute;
		top: 1px;
		right: 2rem;
		display: inline-block;
		transform: translateY(0.6rem);
		color: #8d8d8d;
	}
}

.input-select {
    position: relative;
    
	/* Default */
    .form-select {
        border-radius: 4px;
        line-height: 2;
		color: #212529;
    }
    
    label
    {
        position: absolute;
        pointer-events: none;
        top: 1px;
        left: 15px;
        transform: translateY(-51%) translateX(-12px) scale(0.8);
        background-color: #fff;
        color: #212529;
        padding: 0px 5px;
        font-weight: bold;
        border-radius: 100px;
    }
    
	&.field-red {
		.form-select {
			border-color: #ff1744; /* accent3 */
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23cb1a19' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
		}
		label {
			color: #ff1744;
		}
	}
	&.field-blue {
		.form-select {
			border-color: #00b0ff;
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%232196f3' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
		}
		label {
			color: #00b0ff;
		}
	}
	&.field-cyan {
		.form-select {
			border-color: #00e5ff; 
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%2300e5ff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
		}
		label {
			color: #00e5ff;
		}
	}
	&.field-orange {
		--set-color: #ff9100; /* accent3 */
		.form-select {
			border-color: #ff9100; 
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ff9100' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
		}
		label {
			color: #ff9100;
		}
	}
	
    &.dark {
        .form-select {
            background-color: var(--primary-dark-bg-color);
            color: var(--input-field-color);
        }
        
        label {
            background-color: var(--primary-dark-bg-color);
        }
    }
	
	.form-select.is-invalid {
		border-color: red;
	}
}

/* input Required */
.field.required {
	input:focus ~ label, input:not(:placeholder-shown) ~ label, .form-select + label {
		display: flex;
		align-items: center;
		
		&:before {
			content: '\e1eb';
			font-family: 'Material Symbols Outlined';
			color: #f44336;
		}
	}
}






