/* User Profile */

.offcanvas.offcanvas-start {
	width: 320px;
	border-width: 0;
	
	.offcanvas-header h5 {
		font-family: 'Orbitron';
	}
	
	.offcanvas-body {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 0 1rem;
		
		.section {
			width: 100%;
			padding: 1rem;
		}
		
		.info-head {
			display: flex;
			flex-direction: column;
			align-items: center;
			background-color: rgba(0, 188, 212, .6);
			padding-top: 3rem;
			padding-bottom: 3rem;
				
			>.material-symbols-outlined {
				font-size: 4rem;
				color: rgba(216, 27, 96, .87);
			}
			
			p {
				margin: 0;
				color: rgba(0, 0, 0, .87);
				font-size: 1.1rem;
				font-family: 'Poiret One';
				font-weight: 400;
				
				&.name {
					font-family: 'Orbitron';
					font-size: 1.2rem;
					font-weight: 500;
					color: rgba(0, 0, 0, .87);
				}
			}
		}
		
		.info-body {
			padding-top: 2rem;
			
			p {
				display: flex;
				justify-content: space-between;
			}
			
			.user-area {
				span {
					width: 30%;
					background-color: rgba(129, 212, 250, .6);
					color: rgba(1, 87, 155, .87);
					font-size: .85rem;
					font-weight: 400;
					border-radius: 1rem;
					border: 1px solid rgba(1, 87, 155, .87);
					margin: .125rem 0;
				}
			}
		}
		
		a.btn-signout {
			position: absolute;
			bottom: 1rem;
			left: 140px;
			transform: translateX(-50%);
			background-color: #01579b ;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 3.5rem;
			height: 3.5rem;
			border-radius: 2rem;
			color: #fff;
			margin: auto;
		}
	}
	
}
