/* User Profile */

.offcanvas.offcanvas-start {
	width: 280px;
	border-width: 0;
	
	.offcanvas-header h5 {
		font-family: 'Orbitron';
	}
	
	.offcanvas-body {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 0 1rem;
		
		.section {
			width: 100%;
			padding: 1rem;
		}
		
		.info-head {
			display: flex;
			flex-direction: column;
			align-items: center;
			background-color: var(--btn-profile-bg-color);
			padding-top: 3rem;
			padding-bottom: 3rem;
				
			>.material-symbols-outlined {
				font-size: 4rem;
				color: #d81b60;
			}
			
			p {
				margin: 0;
				color: #444;
				font-size: 1rem;
				font-family: 'Orbitron';
				
				&.name {
					font-size: 1.4rem;
					font-weight: 500;
					color: #000;
				}
				&.mail {
					/* font-family: 'Roboto'; */
					font-size: .9rem;
				}
			}
		}
		
		.info-body {
			padding-top: 2rem;
			
			p {
				display: flex;
				justify-content: space-between;
			}
		}
		
		a.btn-signout {
			position: absolute;
			bottom: 1rem;
			left: 140px;
			transform: translateX(-50%);
			background-color: #01579b ;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 3.5rem;
			height: 3.5rem;
			border-radius: 2rem;
			color: #fff;
			margin: auto;
		}
	}
	
}
