/* Variables Define */

:root {
	/* 官網主色紅 */
	--primary-red-color: #cb1a19; /* red */
	--primary-orange-color: #f5ac2d; /* amber */
	--primary-orange-light-color: #ffd180;
	
	--secondary-red-color: #ed5a65; /* red */
	--secondary-orange-color: #ffc107; /* amber */
	
	/* View Background */
	--primary-default-bg-color: #121212;
	--secondary-default-bg-color: #383838; /* or 1e1e1e*/
	
	/* --primary-dark-bg-color: #000; */
	/* --secondary-dark-bg-color: #263238; */
}
