/* Variables Define */

:root {
	/* 官網主色紅 */
	--bg-brand-primary-color: #cb1a19; /* red */
	--bg-brand-secondary-color: #f5ac2d; /* amber */
	--bg-brand-secondary-light-color: #ffd180;
	
	--bg-menu-color: #263238; /*#263238;*/
	
	--bg-default-color: #fff; /* grey */
	--bg-primary-color: #ed5a65; /* red */
	--bg-secondary-color: #ffc107; /* amber */
	--bg-dark-color: #37474f; /* blue grey */
	
	/* Button */
	--bg-btn-create-color: #00c853;
	--bg-btn-update-color: #673ab7;
	--bg-btn-delete-color: #f44336;
	--bg-btn-return-color: #263238;
	
	/*** Bootstrap Variables ***/
}
