/* Variables Define */

:root {
	/* 官網主色紅 */
	--primary-red-color: #cb1a19; /* red */
	--primary-orange-color: #f5ac2d; /* amber */
	--primary-orange-light-color: #ffd180;
	
	--secondary-red-color: #ed5a65; /* red */
	--secondary-orange-color: #ffc107; /* amber */
	
	/* View Background */
	--default-bg-color: #fff;
	--primary-dark-bg-color: #263238;
	--secondary-dark-bg-color: #37474f;
	
	--divider-color: #eceff1;
	
	
	/* Button */
	--btn-home-bg-color: #e91e63;
	--btn-profile-bg-color: #00bcd4; /* 500 */
	--btn-create-bg-color: #4caf50; /* 500 */
	--btn-update-bg-color: #9c27b0; /* 500 */
	--btn-delete-bg-color: #f44336; /* 500 */
	--btn-return-bg-color: #263238; /* darken4 */
	
	
	/* Dark Table */
	--table-head-bg-color: #01579b; /*#252525;*/
	--table-head-color: #e1f5fe;
	--table-row-border-color: #607d8b;
	--table-col-color: #90a4ae;
	--table-col-odd-color: #37474f;
	/* --table-col-even-color: #455a64; */
	
	/* --table-head-bg-color: #263238; */
	/* --table-head-color: #cfd8dc; */
	/* --table-row-border-color: #607d8b; */
	/* --table-col-color: #859AA4; */
	/* --table-col-odd-color: #40525B; */
}
