/* Navbar */
.page.navbar {
	position: sticky;
	top: 0;
	z-index: 9;
	width: 100%;
	height: 64px;
	/* height: auto; */
	/* Default */
	// background-color: var(--bg-brand-secondary-light-color);
	background-color: var(--bg-brand-secondary-color);
	color: #000;
	padding-left: 1rem;
	padding-right: 1rem;
		
	.navbar-head {
		display: flex;
		align-items: center;
		font-weight: 500;
	}
	
	/* 共用的style */
	.navbar-action {
		display: flex;
		font-weight: 500;
		
		a.btn {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 2.5rem;
			height: 2.5rem;
			border-radius: 1.25rem;
			transition: width 0.3s ease-in-out 0.3s;
			overflow: hidden;
			margin-left: .5rem;
			
			.title {
				font-size: 0px;
				transition-property: font-size;
				transition-duration: .2s;
				transition-delay: .1s;
			}
			
			&:hover {
				.title {
					font-size: 1rem;
					/*縮小時也要*/
					transition-property: font-size;
					transition-duration: .1s;
					transition-delay: .5s;
				}
			}
			
		}
		
		/* Page Toolbar */
		a.btn-profile {
			background-color: var(--bg-btn-profile-color);
			color: #fff;
		}
		a.btn-create {
			background-color: var(--bg-btn-create-color);
			color: #fff;
			
			&:hover {
				width: calc(3ch * 3.5);
			}
		}
		
		a.btn-return {
			background-color: var(--bg-btn-return-color);
			color: #fff;
			
			&:hover {
				width: calc(4ch * 3.5);
			}
		}
	}
}

.offcanvas.offcanvas-start {
	width: 280px;
	border-width: 0;
	
	.offcanvas-header h5 {
		font-family: 'Orbitron';
	}
	
	.offcanvas-body {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 0 1rem;
		
		.section {
			width: 100%;
			padding: 1rem;
		}
		
		.access-info {
			position: relative;
			display: flex;
			background-color: #f8bbd0;
			padding-top: 2rem;
			padding-bottom: 2rem;
				
			>.material-symbols-outlined {
				font-size: 4rem;
				color: #ec407a;
			}
			
			.info {
				flex: 1;
				padding: .5rem 0;
				
				p {
					margin: 0;
					color: #424242;
					
					&:first-child {
						font-size: .85rem;
						font-family: 'Orbitron';
					}
					&:last-child {
						font-size: 1.2rem;
						font-weight: 500;
						color: #000;
					}
				}
			}
			
			a.btn-signout {
				position: absolute;
				bottom: 0;
				right: 1rem;
				transform: translateY(50%);
				background-color: #7e57c2;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 3.5rem;
				height: 3.5rem;
				border-radius: 2rem;
				color: #fff;
			}
		}
		
		.other-info {
			padding-top: calc(3.5rem / 2 + 1rem);
			
			p {
				display: flex;
				justify-content: space-between;
			}
		}
	}
	
}
