/* Web Master Style */

@import "common/_variables.css";
@import "common/_common.css";
@import "common/_input.css";
@import "common/_component.css"; 
/* @import "common/_actionbar.css"; */
/* @import "common/_menu.css"; */
/* @import "common/_profile.css"; */
