/* Web Master Style */

@import "_variables.css";
@import "_common.css";
@import "_component.css";
@import "_form.css";
@import "_app.css";
@import "_actionbar.css";
@import "_menu.css";
@import "_profile.css";