/* Main Style */

body {
	--scrollbar-width: calc(100vw - 100%);
	
	font-family: 'Roboto', 'Orbitron', sans-serif;
	font-size: 16px;
	background-color: var(--bg-default-color);
	margin: 0;
	display: flex; 
	
	.content-wrapper{
		position: relative;
		flex-grow: 1;
		width: calc(100vw - 280px - var(--scrollbar-width)); /* 避免scrollbar寬度影響 */
		height: 100%;
		/* overflow-x: hidden; */
		box-sizing: border-box;
	}
	
	/* .content-wrapper { */
		/* position: relative; */
		/* top: 0; */
		/* left: 280px; */
		/* width: calc(100vw - 280px); */
		/* height: 100vh; */
	/* } */
	
	.list-group {
		border-radius: 2px;
	}
}

.filled-icon {
  font-variation-settings: 'FILL' 1;
}

.divider {
	display: flex;
	
	&:before, &:after {
		content: '';
		flex: 1;
		height: 1px;
		background-color: black;
		margin-top: .5rem;
		margin-bottom: .5rem;
	}
}

.error-msg {
	display: flex;
	align-items: center;
	border-radius: 2px;
	
	.material-symbols-outlined {
		margin-right: .5rem; 
	}
}

.toast.msg {
	position: absolute;
	right: 2rem;
	bottom: 2rem;
	background-color: #e53935;
	color: #fff;
}


/* Aside Menu */
.aside.menu {
	position: sticky;
	top: 0;
	left: 0;
	width: 280px;
	/*min-height: 100vh;
	height: 100%;*/
	height: 100vh;
	background-color: var(--bg-menu-color);
	margin: 0;
	padding: 0;
	/*padding-bottom: 1000%;*/
	box-sizing: border-box;
	
	.logo {
		height: 64px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		// background-color: var(--bg-brand-primary-color);
		// background-color: var(--bg-brand-secondary-light-color);
		// background: linear-gradient(135deg, #f5ac2d, #cb1a19, #cb1a19);
		background: linear-gradient(125deg, var(--bg-brand-primary-color), var(--bg-brand-primary-color), var(--bg-brand-secondary-color), var(--bg-brand-secondary-color));
		
		/* copyright */
		&:after {
			position: absolute;
			left: 4px;
			bottom: 0;
			content: "\00A9 2025";
			color: var(--bg-primary-color);
			font-size: .75rem;
		}
		
		img {
			width: auto;
			height: 48px;
			/* mix-blend-mode: soft-light;/* soft-light  luminosity ; */
		}
	}
	
	.container-fluid {
		--text-primary-color: #00b8d4; /*accent4*/
		--text-hover-color: #18ffff;
		
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		
		.menu-group {
			
			&:first-child {
				margin-top: 1rem;
			}
			
			a.list-title {
				position: relative;
				display: flex;
				align-items: center;
				padding: .5rem 1rem;
				text-decoration: none;
				color: var(--text-primary-color);
				
				.material-symbols-outlined {
					margin-right: .5rem;
				}
				
				&:hover, &[aria-expanded='true'] {
					color: var(--text-hover-color);
					cursor: pointer;
					text-shadow: 0 0 .75rem var(--text-hover-color);
				}
				
				&[aria-expanded='false']:after {
					position: absolute;
					right: 1rem;
					content: "\e315";
					font-family: 'Material Symbols Outlined';
				}
				&[aria-expanded='true']:after {
					position: absolute;
					right: 1rem;
					content: "\e313";
					font-family: 'Material Symbols Outlined';
				}
			}
			
			ul.list-group {
				color: #607d8b;
				
				li.list-group-item {
					display: flex;
					border-width: 0px;
					padding: 0 1rem 0 2rem;
					background-color: var(--bg-menu-color);
					margin-bottom: .25rem;
					
					a {
						flex: 1;
						padding: 0 1rem;
						text-decoration: none;
						color: var(--text-primary-color);
						font-size: .875rem;
						line-height: 40px;
						
						&:hover, &.active {
							border-radius: 20px;
							background-color: rgba(69, 90, 100, .5);/*--bg-menu-hover-color);*/
							color: var(--text-hover-color);
						}
					}
				}
			}
		}
	}
}



