/* Component Style */

/* Modify bootstrap style */
.form-control, .form-select, .form-floating {
	border-radius: 4px;
	border-width: 1px;
	border-color: #ffab40;
}

.form-control:focus, .form-select:focus {
	box-shadow: none;
	// border-width: 2px;
	border-color: #ff9100;
}

.form-select {
	line-height: 2; /*1.5*/
}

.btn {
	border-radius: 2px;
	
	&.btn-major {
		min-width: 8rem;
	}
	&.btn-outline-red {
		border-color: #f44336;
		color: #f44336;
		
		&:hover {
			background-color: #f44336;
			color: #fff;
		}
	}
	&.btn-red {
		border-color: #f44336;
		background-color: #f44336;
		color: #fff;
		
		&:hover {
			border-color: #d32f2f;
			background-color: #d32f2f;
		}
	}
}


/* Customize Component */
.input-field, .input-select {
	&.field-red {
		--set-color: #ff1744; /* accent3 */
		.form-select {
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23cb1a19' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
		}
	}
	&.field-blue {
		--set-color: #00b0ff; /* accent3 */
		.form-select {
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%232196f3' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
		}
	}
	&.field-cyan {
		--set-color: #00e5ff; /* accent3 */
		.form-select {
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%230d47a1' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
		}
	}
	&.field-orange {
		--set-color: #ff9100; /* accent3 */
		.form-select {
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ff9100' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
		}
	}
	&.field-dark {
		--dark-color: #b0bec5;
	}
}

.input-field {
	position: relative;
	/*margin: 1rem;*/
	
	label {
		position: absolute;
		color: #8d8d8d;
		pointer-events: none;
		background-color: transparent;
		top: 1px;
		left: 15px;
		transform: translateY(0.6rem);
		transition: all 0.3s ease;
	}

	input {
		padding: 10px 15px;
		font-size: 1rem;
		border-radius: 4px;
		border: solid 1px var(--set-color);
		letter-spacing: 1px;
		width: 100%;
	}
		
	input:focus  {
		outline: none;
		border: solid 1px var(--set-color);
	}
	
	input:focus ~ label, input:not(:placeholder-shown) ~ label {
		transform: translateY(-51%) translateX(-10px) scale(0.8);
		background-color: #fff;
		padding: 0px 5px;
		color: var(--set-color);
		font-weight: bold;
		letter-spacing: 1px;
		border: none;
		border-radius: 100px;
	}
	
	&.field-dark {
		label {
			color: var(--dark-color);
		}
		input {
			background-color: var(--bg-dark-color);
			color: #fff;
		}
		input:focus ~ label, input:not(:placeholder-shown) ~ label {
			background-color: var(--bg-dark-color);
		}
	}
	
	.group-text {
		position: absolute;
		top: 1px;
		right: 15px;
		display: inline-block;
		transform: translateY(0.6rem);
		color: #666;
	}
}

.input-select {
	position: relative;
	
	.form-select {
		border-radius: 4px;
		border-color: var(--set-color);
	}
	
	label
	{
		position: absolute;
		pointer-events: none;
		top: 1px;
		left: 15px;
		transform: translateY(-51%) translateX(-12px) scale(0.8);
		background-color: #fff;
		color: var(--set-color);
		padding: 0px 5px;
		font-weight: bold;
		border-radius: 100px;
	}
	
	&.field-dark {
		.form-select {
			background-color: var(--bg-dark-color);
			color: #fff;
		}
		
		label {
			background-color: var(--bg-dark-color);
		}
	}
}








