/* New Release Style */
body main.app {
	overflow-y: hidden !important;
}

form {
	margin-block-start: 0;
}

/* Data */
.page {
	padding: 1rem;
	/* 區域彙總 */
	.statistics-area {
		table {
			tbody {
				tr {
					&:last-child th, &:last-child td {
						color: red;
						border-block-start: .0625rem solid var(--outline);
					}
				}
			}
		}
	}
	
	/* 門市 */
	.statistics-shop {
		table {
			thead tr th {
				&:nth-of-type(4) {
					width: 150px;
					min-width: 150px;
					max-width: 150px;
					position: sticky;
					left: 500px;
					z-index: 6;
				}
			}
			
			tbody tr {
				td {
					&:nth-of-type(4) {
						position: sticky;
						z-index: 5;
						left: 500px;
						background-color: var(--table-fixed-bg);
						color: var(--table-fixed-color);
					}
				}
				
				&:last-child td {
					color: red;
				}
			}
			
		}
	}
}