/* list */

body {
	background-color: white;
}
.navbar-operation {
	
}

.section-wrapper {
	display: flex;
	justify-content: space-between;
	
	.section {
		height: 100%;
		margin: 1rem;
		
	}
	
	.role-data {
		flex: 1;
		
		/*input, select, label, .input-field input:focus ~ label, .input-field input:not(:placeholder-shown) ~ label {
			background-color: #f9fbe7;
		}*/
			
		.input-field {
			margin-bottom: 1rem;
		}
	}
	
	.role-permission {
		flex: 2;
		padding: 1rem;
		background-color: #f9fbe7;
		box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.3);
		
		.list-group {
			margin-bottom: 1rem;
			
			.title {
				display: inline-block;
				background-color: blue;
				border-radius: 50% 50%;
			}
			
			.list-group-item {
				background-color: #f9fbe7;
				border-left-width: 0;
				border-right-width: 0;
				border-top-width: 0;
				
				.permission-group {
					
					label {
						color: var(--bg-primary-color);
					}
				}
				
				.permission-group-items {
					display: flex;
					
					.permission-item {
						margin-right: 1rem;
					}
					
				}
			}
		}
	}
}

