/* list */

.navbar-operation {
	
}

.role-list.section-wrapper {
	/* box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.3); */
	padding: 1rem;
	
	
	.row {
		&.head  {
			background-color: #00e5ff;
		}
		&:first-child .col {
			background-color: #90caf9;
			color: #000;
			font-weight: bold;
		}
		
		&:last-child .col {
			border-top: 1px dashed #444;
			color: #f44336;
		}
		
		.col {
			padding: .5rem;
			background-color: #e3f2fd;
		}
	}
}

