/* list */

.section-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 2rem 1rem 1rem;
	
	.section {
		height: 100%;
		margin-bottom: 1rem;
	}
	
	.role-data {
		flex: 1;
		display: inline-flex;
		
		.input-field {
			margin-right: 1rem;
			
			&:last-child {
				margin-right: 0;
			}
		}
	}
	
	.role-permission {
		position: relative;
		flex: 2;
		padding: 1rem;
		border-radius: .5rem;
		border: 1px solid rgba(255, 145, 0, .6); 
		margin-top: 1rem;
		background-color: rgba(38, 50, 56, .6);
			
		&:before {
			content: '權限設定';
			position: absolute;
			top: 0;
			padding: 0 .25rem;
			color: rgba(255, 145, 0, .6); 
			background: linear-gradient(to bottom, var(--primary-default-bg-color) 50%, transparent 50% 100%); 
			display: flex;
			transform: translate(-0.25rem, -50%);
		}
		
		.list-group {
			margin-bottom: 1rem;
			border-radius: 0;
			border-bottom: 1px solid rgba(255, 255, 255, .12);
			
			&:last-child {
				border-bottom-width: 0;
			}
				
			/* 功能群組 */
			.title {
				display: flex;
				align-items: center;
				color: rgba(234, 128, 252, .87);
			}
			
			.list-group-item {
				display: flex;
				justify-content: space-between;
				background-color: transparent;
				border-width: 0;
				
				.form-check-label, .form-check-input {
					cursor: pointer;
				}
				
				/* CRUD */
				.permission-group {
					margin-top: .25rem;
					
					/* Switch */
					label {
						color: #00bcd4;
					}
					.form-check-input {
						background-color: #cfd8dc;
						&:checked {
							background-color: #ff9100;
							border-color: #ff6d00;
							background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23e65100'/%3e%3c/svg%3e");
						}
					}
					input:checked {
						background-position: right center;
					}

				}
				
				/* Checkbox */
				.permission-group-items {
					display: flex;
					justify-content: flex-end;
					align-items: center;
					flex-wrap: wrap;
					width: 50%;
					
					.form-check-label {
						display: flex;
						align-items: center;
						width: auto;
						height: 2rem;
						margin: .25rem;
						color: rgba(255, 255, 255, .38);
						border: 1px solid rgba(255, 255, 255, .38);
						background-color: #212121;
						padding: .175rem 1rem;
						border-radius: 1rem;
						
						&:last-child {
							margin-right: 0;
						}
						
						.form-check-input {
							display: none;
						}
						
						&:has(input:checked) {
							border-color: #e1bee7;
							color: #e1bee7;
							background-color: rgba(234, 128, 252, .6);
							transition-property: color, border-color, background-color;
							transition-duration: .3s;
							transition-delay: .15s;
							
							&:before {
								content: '\e5ca';
								font-family: 'Material Symbols Outlined';
								/* font-variation-settings: 'FILL' 1; */
							}
						}
					}
					
				}
			}
		}
	}
	
	.toolbar {
		.btn {
			margin-right: .5rem;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

