/* list */
body {
	background-color: var(--dark-bg-color);
}
.section-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 2rem 1rem 1rem;
	
	.section {
		height: 100%;
		margin-bottom: 1rem;
	}
	
	.role-data {
		flex: 1;
		display: inline-flex;
		
		.input-field {
			margin-right: 1rem;
			
			&:last-child {
				margin-right: 0;
			}
		}
	}
	
	.role-permission {
		position: relative;
		flex: 2;
		padding: 1rem;
		border-radius: .5rem;
		border: 1px solid #ff9100;
		margin-top: 1rem;
		// background-color: #eceff1;
		
		&:before {
			content: '權限設定';
			position: absolute;
			top: 0;
			padding: 0 .25rem;
			color: #ff9100;
			background-color: var(--default-bg-color);
			display: flex;
			transform: translate(-0.25rem, -50%);
		}
		
		&.dark:before {
			background-color: var(--dark-bg-color);
		}
		
		.list-group {
			margin-bottom: 1rem;
			
			.title {
				display: flex;
				align-items: center;
				color: #ea80fc;
			}
			
			.list-group-item {
				display: flex;
				justify-content: space-between;
				/* background: linear-gradient(135deg, #4a148c, #8e24aa, #ba68c8, #f3e5f5); */
				/* background: linear-gradient(135deg, #4a148c, #8e24aa, #ba68c8, #ce93d8, #e1bee7, #e1bee7, #e1bee7, #e1bee7, #e1bee7); */
				/* background: linear-gradient(135deg, #4a148c, #7b1fa2, #ab47bc, #e1bee7, #e1bee7, #e1bee7, #e1bee7, #e1bee7, #e1bee7); */
				/* background: linear-gradient(135deg, #4a148c, #ab47bc, #e1bee7, #e1bee7, #e1bee7, #e1bee7, #e1bee7, #e1bee7); */
				border-width: 0 0 1px;
				background-color: transparent;
				border-color: #607d8b;
				
				&:last-child {
					border-bottom-width: 0;
				}
				
				.form-check-label, .form-check-input {
					cursor: pointer;
				}
				
				.permission-group {
					margin-top: .25rem;
					
					label {
						color: #00bcd4;
					}
					.form-check-input:checked {
						background-color: #ff9100;
						border-color: #ff6d00;
					}
				}
				
				.permission-group-items {
					display: flex;
					justify-content: flex-end;
					align-items: center;
					flex-wrap: wrap;
					width: 50%;
					
					.form-check-label {
						display: flex;
						align-items: center;
						width: auto;
						height: 2rem;
						margin: .25rem;
						color: #e1bee7;
						border: 1px solid #e1bee7;
						padding: .175rem 1rem;
						border-radius: 1rem;
						
						&:last-child {
							margin-right: 0;
						}
						
						.form-check-input {
							display: none;
						}
						
						&:has(input:checked) {
							/* border-color: #ea80fc; */
							/* color: #4a148c; */
							/* background-color: #ce93d8; */
							color: #ce93d8;
							background-color: rgba(122, 31, 162, .85); /* #7b1fa2;*/
							transition-property: color, border-color, background-color;
							transition-duration: .3s;
							transition-delay: .15s;
							
							&:before {
								content: '\e5ca';
								font-family: 'Material Symbols Outlined';
								/* font-variation-settings: 'FILL' 1; */
							}
						}
					}
					
				}
			}
		}
	}
	
	.toolbar {
		.btn {
			margin-right: .5rem;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

