/* list */
body {
	--field-group-color: #ff9100;
	--field-group-primary-bg-color: var(--primary-default-bg-color);
	--field-group-secondary-bg-color: var(--primary-default-bg-color);
	
	&.dark {
		--field-group-primary-bg-color: var(--primary-dark-bg-color);
		--field-group-secondary-bg-color: #263238;
	}
}

.section-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 2rem 1rem 1rem;
	
	.section {
		height: 100%;
		margin-bottom: 1rem;
	}
	
	.role-data {
		flex: 1;
		display: inline-flex;
		
		.input-field {
			margin-right: 1rem;
			
			&:last-child {
				margin-right: 0;
			}
		}
	}
	
	.role-permission {
		position: relative;
		flex: 2;
		padding: 1rem;
		border-radius: .5rem;
		border: 1px solid #ff9100;
		margin-top: 1rem;
		background-color: rgba(38, 50, 56, .8);
			
		&:before {
			content: '權限設定';
			position: absolute;
			top: 0;
			padding: 0 .25rem;
			color: var(--field-group-color);
			background: linear-gradient(to bottom, var(--field-group-primary-bg-color) 50%, transparent 50% 100%); 
			display: flex;
			transform: translate(-0.25rem, -50%);
		}
		
		.list-group {
			margin-bottom: 1rem;
			/* 功能群組 */
			.title {
				display: flex;
				align-items: center;
				color: #ea80fc;
			}
			
			.list-group-item {
				display: flex;
				justify-content: space-between;
				/* background: linear-gradient(135deg, #4a148c, #8e24aa, #ba68c8, #f3e5f5); */
				/* background: linear-gradient(135deg, #4a148c, #8e24aa, #ba68c8, #ce93d8, #e1bee7, #e1bee7, #e1bee7, #e1bee7, #e1bee7); */
				/* background: linear-gradient(135deg, #4a148c, #7b1fa2, #ab47bc, #e1bee7, #e1bee7, #e1bee7, #e1bee7, #e1bee7, #e1bee7); */
				/* background: linear-gradient(135deg, #4a148c, #ab47bc, #e1bee7, #e1bee7, #e1bee7, #e1bee7, #e1bee7, #e1bee7); */
				border-width: 0 0 1px;
				background-color: transparent;
				border-color: #546e7a;
				
				&:last-child {
					border-bottom-width: 0;
				}
				
				.form-check-label, .form-check-input {
					cursor: pointer;
				}
				
				/* CRUD */
				.permission-group {
					margin-top: .25rem;
					
					label {
						color: #00bcd4;
					}
					.form-check-input {
						background-color: #cfd8dc;
						&:checked {
							background-color: #ff9100;
							border-color: #ff6d00;
							background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23e65100'/%3e%3c/svg%3e");
						}
					}
					input:checked {
						background-position: right center;
					}

				}
				
				.permission-group-items {
					display: flex;
					justify-content: flex-end;
					align-items: center;
					flex-wrap: wrap;
					width: 50%;
					
					.form-check-label {
						display: flex;
						align-items: center;
						width: auto;
						height: 2rem;
						margin: .25rem;
						// color: #e1bee7;
						color: #616161;
						border: 1px solid #616161;
						background-color: #212121;
						padding: .175rem 1rem;
						border-radius: 1rem;
						
						&:last-child {
							margin-right: 0;
						}
						
						.form-check-input {
							display: none;
						}
						
						&:has(input:checked) {
							border-color: #e1bee7;
							color: #e1bee7;
							/* background-color: #ce93d8; */
							// color: #ce93d8;
							background-color: rgba(122, 31, 162, .85); /* #7b1fa2;*/
							transition-property: color, border-color, background-color;
							transition-duration: .3s;
							transition-delay: .15s;
							
							&:before {
								content: '\e5ca';
								font-family: 'Material Symbols Outlined';
								/* font-variation-settings: 'FILL' 1; */
							}
						}
					}
					
				}
			}
		}
	}
	
	.toolbar {
		.btn {
			margin-right: .5rem;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

