/* New Release Style */
body main.app {
	overflow-y: hidden !important;
}

form {
	margin-block-start: 0;
}

/* Data */
.page {
	padding: 1rem;
	/* 區域彙總 */
	.statistics-area.grid-table {
		/* 只設定個別不同的css, 其它套用common */
		.grid.data:last-child {
			color: red;
		}
	}
	
	/* 門市 */
	.statistics-shop {
		table {
			thead tr th {
				&.col-date span {
					display: inline-flex;
					flex-direction: column;
					justify-content: center;
					
					&:first-child {
						/* font-size: .9rem; */
						background-color: #e91e63;
						border-radius: 4px;
						color: rgba(255, 255, 255, .87);
						font-weight: 400;
						padding: 0 .25rem;
					}
				}
			}
			
			tbody tr td {
				&:nth-last-of-type(-n + 2) {
					color: #f44336;
				}
			}
		}
	}

	/* Top10 | Last10 */
	.statistics-ranking {
		max-height: calc(100vh - 220px);
		overflow-y: auto;
		
		.ranking {
			width: 64px;
			height: 64px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 2rem;
			
			border-radius: .5rem;
		}
		
		.ranking-top .ranking {
			color: #fafafa;
			background-color: #f44336;
		}
		.ranking-last .ranking {
			color: #fafafa;
			background-color: #263238;
		}
		
		ul li label {
			font-size: 1rem;
			font-weight: bold;
		}
	}
}