/* New Release Style */
body main.app {
	overflow-y: hidden !important;
}

form {
	margin-block-start: 0;
}

/* Data */
.page {
	padding: 1rem;
	/* 區域彙總 */
	.statistics-area {
		.grid.header div {
			font-weight: bold;
		}
		
		.grid.data:last-child {
			color: red;
		}
	}
	
	/* 門市 */
	.statistics-shop {
		--table-bg: #80deea ;
		position: relatvie;
		width: auto;
		max-height: calc(100vh - 220px);
		overflow: auto;
		/* scrollbar-width: thin; */
		scrollbar-color: #0097a7 var(--table-bg); /*thumb - track*/
		margin: 0;
		
		table {
			table-layout: fixed;
			min-width: 100%;
			width: auto;
			overflow: unset;
			padding: 0;
			margin: 0;
			border-radius: 4px;
			
			thead {
				tr {
					th {
						position: sticky;
						top: 0;
						z-index: 5;
						word-break: keep-all;
						background-color: var(--table-bg);
						min-width: 80px;
						color: rgba(0, 0, 0, .87);
						padding-top: 1rem;
						
						&.col-date span {
							display: inline-flex;
							flex-direction: column;
							justify-content: center;
							
							&:first-child {
								/* font-size: .9rem; */
								background-color: #e91e63;
								border-radius: 4px;
								color: rgba(255, 255, 255, .87);
								font-weight: 400;
								padding: 0 .25rem;
							}
						}
						
						&:nth-child(1) {
							min-width: 100px;
							position: sticky;
							left: 0;
							z-index: 6;
						}
						&:nth-child(2) {
							min-width: 100px;
							position: sticky;
							left: 100px;
							z-index: 6;
						}
						&:nth-child(3) {
							min-width: 200px;
							position: sticky;
							left: 200px;
							z-index: 6;
						}
					}
				}
			}
			
			tbody {
				tr {
					th {
						position: sticky;
						font-weight: normal;
						z-index: 5;
						color: #1b5e20; /*#1b3823;*/
						/* border-bottom-width: 0; */
						
						&:nth-child(1) {
							left: 0;
							background-color: #b2ebf2;
						}
						&:nth-child(2) {
							left: 100px;
							background-color: #b2ebf2;
						}
						&:nth-child(3) {
							left: 200px;
							background-color: #b2ebf2;
						}
					}
					
					td {
						color: #424242;
						/* 總計 */
						&:nth-last-child(-n + 2) {
							color: #f44336;
						}
					}
				}
			}
		}
	}

	/* Top10 | Last10 */
	.statistics-ranking {
		max-height: calc(100vh - 220px);
		overflow-y: auto;
		
		.ranking {
			width: 64px;
			height: 64px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 2rem;
			
			border-radius: .5rem;
		}
		
		.ranking-top .ranking {
			color: #fafafa;
			background-color: #f44336;
		}
		.ranking-last .ranking {
			color: #fafafa;
			background-color: #263238;
		}
		
		ul li label {
			font-size: 1rem;
			font-weight: bold;
		}
	}
}