/* Main Style */

body {
	--primary-default-bg-color: #fafafa;
	
	display: flex;
	background-color: var(--primary-default-bg-color);
	background: var(--primary-default-bg-color);
	
	.content-wrapper {
		flex-grow: 1;
		height: 100vh;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		
		.divider {
			width: 0;
			height: 30%;
			border-left: 1px solid rgba(0 0 0 / 12%);
			margin-left: 2rem;
			margin-right: 2rem;
		}
		
		/* Logo */
		.left-content {
			width: 320px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			
			img {
				position: relative;
				width: 100%;
				height: auto;
			}
			
			.copyright {
				font-family: 'Orbitron';
				font-size: .75rem;
				font-weight: bold;
				
				i {
					font-family: 'Roboto';
					font-style: normal;
					font-size: .875rem;
					color: var(--secondary-red-color);
				}
			}
		}
		
		.right-content {
			width: 400px;
			padding: 4rem 2rem;
			
			.head {
				padding: 0;
				margin: 1rem 0;
				
				img {
					width: 32px;
					height: auto;
				}
				.title {
					font-family: 'Orbitron';
					font-size: 1.4rem;
				}
				h6 {
					color: #444; 
					font-weight: normal;
					font-size: .875rem;
					padding-top: .5rem;
					padding-bottom: .5rem;
				}
			}
			
			.input-field {
				margin: 1rem 0;
				
				label {
					color: rgba(0, 0, 0, .38);
					background-color: var(--primary-default-bg-color);
				}
				
				input {
					color: rgba(0, 0, 0, .87);
					border-color: #00b0ff; 
					background-color: var(--primary-default-bg-color);
					
					&:focus ~ label, input:not(:placeholder-shown) ~ label {
						color: #00b0ff;
					}
				}
				.group-text {
					width: 110px;
					color: rgba(0, 0, 0, .38);
					margin-right: .75rem;
				}
			}
			
			.btn.btn-outline-danger {
				margin: 3rem 0 0;
				display: block;
				width: 100%;
				border-radius: 2px;
				border: 1px solid #f44336;
				color: #f44336;
				
				&:hover {
					background-color: #f44336;
					color: rgba(255, 255, 255, .87);
				}
			}
		}
	}
}