/* Main Style */

body {
	display: flex;
	background-color:  var(--primary-default-bg-color);
	background:  var(--primary-default-bg-color);
	
	.content-wrapper {
		flex-grow: 1;
		height: 100vh;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		
		.divider {
			width: 0;
			height: 30%;
			border-left: 1px solid #ccc;
			margin-left: 2rem;
			margin-right: 2rem;
		}
		
		/* Logo */
		.left-content {
			width: 320px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			
			img {
				position: relative;
				width: 100%;
				height: auto;
			}
			
			.copyright {
				font-family: 'Orbitron';
				font-size: .75rem;
				font-weight: bold;
				
				i {
					font-family: 'Roboto';
					font-style: normal;
					font-size: .875rem;
					color: var(--secondary-red-color);
				}
			}
		}
		
		.right-content {
			width: 400px;
			padding: 4rem 2rem;
			
			.head {
				padding: 0;
				margin: 1rem 0;
				
				img {
					width: 32px;
					height: auto;
				}
				.title {
					font-family: 'Orbitron';
					font-size: 1.4rem;
				}
				h6 {
					color: #444; 
					font-weight: normal;
					font-size: .875rem;
					padding-top: .5rem;
					padding-bottom: .5rem;
				}
			}
			
			.input-field {
				margin: 1rem 0;
				
				label {
					background-color: var(--primary-default-bg-color);
				}
				input {
					color: #212529;
					background-color: var(--primary-default-bg-color);
				}
				.group-text {
					width: 110px;
					color: #ccc;
					margin-right: .75rem;
				}
			}
			
			.btn {
				--bs-btn-color: #f44336;
				--bs-btn-border-color: #f44336;
				--bs-btn-hover-color: #fff;
				--bs-btn-hover-bg: #f44336;
				--bs-btn-hover-border-color: #f44336;
				
				margin: 3rem 0 0;
				display: block;
				width: 100%;
			}
		}
	}
}